# Auto detect text files and perform LF normalization
* text=auto

# Binary files - treat as binary to prevent diff and reduce repo size
*.png binary
*.ico binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.svg binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.wasm binary
*.pck binary
*.zip binary
*.exe binary
